body {
    position: relative;
    width: 1440px;
    height: 1400px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.flexwrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

    .flexwrap > div {
        width: 450px;
        height: 350px;
        border: 2px solid black;
        border-radius: 10px;
    }

    .flexwrap #redtext {
        background-color: #000000;
        color: #EA4747;
    }

    .flexwrap #legbox {
        text-align: left;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        background-color: #87898A;
        padding: 3px 6px;
    }

    .flexwrap #divboxtitle {
        text-align: left;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        background-color: black;
        padding: 3px 6px;
    }

.flexwrap2 > div {
    width: 450px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}

.flexwrap2 #redtext {
    background-color: #000000;
    color: #EA4747;
}


.flexwrap2 #legbox {
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    padding: 3px 6px;
}



#jsmessage {
    background-color: #222212;
    color: #EA4747;
    height: 40px;
}


#menulogo {
    height: 56px;
    margin-right: auto;
    padding: 0px;
}

    #menulogo img {
        height: 53px;
        width: auto;
    }





/* Admin UI Layout - Start */

.item-a-admin {
    grid-area: navbararea-admin;
    position: fixed;
    height: 56px;
    width: 1440px;
    border: 1px solid black;
    z-index: 999;
}


.item-b-admin {
    grid-area: imagecarousel-admin;
    height: 400px;
    width: 1440px;
    border: 1px solid black;
}


.item-c-admin {
    grid-area: marketarea-admin;
    border: 1px solid black;
}

.item-d-admin {
    grid-area: sidebar-admin;
    background-color: #3a3f44;
    border: 1px solid black;
}

.item-e_sidebar-admin {
    grid-area: sidebararea-admin;
    border: 1px solid black;
/*    padding: 10px;*/
    background-color: #3a3f44;
}

.adminpaneltext {
    background-color: #1c1e1f;
    color: white;
    text-align:center;
}

.item-e_content-admin {
    grid-area: contentarea-admin;
    border: 1px solid black;
    padding: 20px;
}

.item-f-admin {
    grid-area: contactform-admin;
    border: 1px solid black;
}

.item-g-admin {
    grid-area: lowerimage-admin;
    border: 1px solid black;
}

.item-h-admin {
    grid-area: footerarea-admin;
    position: fixed;
    bottom: 0px;
    width: 1440px;
    border: 1px solid black;
    color: #d0d3d6;
    background-color: #3a3f44;
    line-height: 45px;
    text-align: center;
}

.col-admin {
    line-height: 100px;
    border: 1px solid black;
}

.nav-item-admin {
    color: white;
}

.divwrapper-admin {
    height: 1403px;
    color: black;
    background-color: #87898A;
    display: grid;
    grid-template-columns: 241px 800px auto;
    grid-template-rows: 56px 1250px 10px 50px;
    grid-template-areas:
        'navbararea-admin navbararea-admin navbararea-admin'
        'sidebararea-admin contentarea-admin contentarea-admin'
        'contactform-admin contactform-admin lowerimage-admin'
        'footerarea-admin footerarea-admin footerarea-admin';
}

    /* Admin UI Layout - End */


/* --- Admin Form UI - Start --- */

.createeditforms {
/*    height: 200px;
    width: 300px;*/
}

textarea {
    height: 200px;
    width: 300px;
}

.createeditforms fieldset input {
    width: 300px;
}

#fieldsetcreateharbour {
    background-color: #eeeeee;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}

#legendcreateharbour {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}

#createeditharbour {
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background-color: #87898A;
    padding: 3px 6px;
}



/* --- Admin Form UI - Start --- */



.divwrapper div {
  /* text-align: center; */
}

.divwrappercontact {
    height: 305px;
    color: black;
    background-color: #3a3f44;
    display: grid;
    grid-template-columns: 141px 541px 342px;
    grid-template-rows: 56px 100px 150px 50px;
    grid-template-areas:
        'navbararea navbararea navbararea'
        'marketarea marketarea marketarea'
        'contentarea contentarea contentarea'
        'footerarea footerarea footerarea';
}

.divwrapperfindushere {
    height: 753px;
    color: black;
    background-color: #3a3f44;
    display: grid;
    grid-template-columns: 141px 541px 342px;
    grid-template-rows: 56px 100px 600px 50px;
    grid-template-areas:
        'navbararea navbararea navbararea'
        'marketarea marketarea marketarea'
        'contentarea contentarea contentarea'
        'footerarea footerarea footerarea';
}


.columns3 {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.rowof3:after {
    content: "";
    display: table;
    clear: both;
}




div#navmenuright {
    margin-left: auto;
}




#actionMessage {
    position: relative;
    top: 50px;
    left: 600px;
    border: 1px solid black;
    background-color: #2CD32C;
    color: black;
}


#SelectedListBoxView {
    width: 200px;
}

/* -------- form looks ---------- */

.table-container {
    max-height: 398px;
    max-width: 1024px;
}


#boxroundcorners {
    border: 2px solid black;
    border-radius: 10px;
}

#form-left {
    float: left;
}

#form-right {
    float: right;
}

/* Form-button force side by side */
.form-sidebyside {
    padding-right: 0px;
    padding-left: 0px

    /*display: inline-block;*/
    /*    float: left;
    width: 60px;*/
}



/*.form-sidebyside-right {
    float: left;
    width: 60px;
}*/

.form-sidebyside-floatclear {
    clear: both;
}




/* -------- table looks ---------- */
#viewlisttable {
    border: 1px solid #D8D8D8;
}

#harbourlisttable {
    border: 1px solid #D8D8D8;
}


/* -------- button looks ---------- */
#optionBtnGreen {
    background-color: #2CD32C;
    border: 3px solid #000
}

#optionBtnBlue {
    background-color: blue;
    border: 3px solid #000
}

#optionBtnRed {
    background-color: red;
    border: 3px solid #000
}

#optionBtnGray {
    background-color: dimgray;
    border: 3px solid #000
}

#btnBorderBox {
    border: 0px solid #D8D8D8;
    clear: both;
    margin: 8px 0px 8px 0px;
}

.btnHeightSeparate {
    margin: 0px 0px 10px 0px;
}

.btnWidthSeparate {
    margin: 0px 30px 0px 0px;
}


#btnbacktotopp {
    color: #d0d3d6;
    background-color: #3a3f44;
    height: 40px;
}


/* Admin SideMenu styling - Start */
.nav-admin {
    /*    position: relative;
    margin: 50px;
    width: 360px;*/
    background: #1d4f71;
}
.nav-admin ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-admin ul li {
    /* Sub Menu */
}
    .nav-admin ul li a {
        display: block;
        padding: 10px 15px;
        color: #fff;
        text-decoration: none;
        -webkit-transition: 0.2s linear;
	    -moz-transition: 0.2s linear;
	    -ms-transition: 0.2s linear;
	    -o-transition: 0.2s linear;
	    transition: 0.2s linear;
    }
        .nav-admin ul li a:hover {
            background: #1d4f71;
            color: #fff;
        }
        .nav-admin ul li a .fa {
            width: 16px;
            text-align: center;
            margin-right: 5px;
            float: right;
        }
.nav-admin ul ul {
    background: rgba(0, 0, 0, 0.2);
}
.nav-admin ul li ul li a {
    border-left: 4px solid transparent;
    padding: 10px 20px;
}
    .nav-admin ul li ul li a:hover {
        border-left: 4px solid #3498db;
    }


/* Admin SideMenu styling - End */









/* Eric StyleSheet */