

<div id="HarbourTopMenuPartial">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom" id="navmenubox">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <li class="nav-item-admin">
                    <a class="nav-link" asp-controller="Admin" asp-action="CreateHarbour">Skapa ny Hamn</a>
                </li>

                <li class="nav-item-admin">
                    <a class="nav-link" asp-controller="Admin" asp-action="CreatePier">Skapa ny Brygga</a>
                </li>

                <li class="nav-item-admin">
                    <a class="nav-link" asp-controller="Admin" asp-action="CreateBoatslip">Skapa ny Båtplats</a>
                </li>

            </ul>
        </div>


    </nav>


</div>

