@model CreateHarbourViewModel

<div id="adminharbours">
@*    <h4>Skapa ny Hamn</h4>*@

    

 <div>
                <form class="createeditforms" asp-action="CreateHarbour" method="post" role="form">
                    <fieldset id="fieldsetcreateharbour">
                    <legend id="legendcreateharbour">Skapa ny Hamn:</legend>
                        @Html.AntiForgeryToken()
                        <label asp-for="Label"></label>
                        <br />
                        <input asp-for="Label" required />
                        <br />
                        <br />
                        <label asp-for="Info"></label>
                        <br />
                        <textarea asp-for="Info"  rows="5" cols="40" required></textarea>
                        <br />
                        <br />
                        <input type="submit" class="btn btn-primary" name="btnFilter" value="Skapa" />
                    </fieldset>
                </form>

        </div>


   



</div>
                
