
<div id="adminindex">
    <h4>Admin Startsida</h4>

    

@*    <div id="admincontent">
    <partial name="_Admincontent" /> 
    </div>*@
    <p>Välkommen till Sam-Marine Managment System (SMMS)<br />by<br />Eric "Zeddan" Rönnhult</p>

    
   



</div>
                
