
<div>
    <h4>Ansökan Inskickad !</h4>
    <br />
    <p>Ansökan av @ViewBag.ApplicantType hos Tjällevikens Hamn är nu registrerad.</p>
    <p>Vi återkommer till dig på Epost eller Telefon som du har skrivit.</p>



    

</div>
                
