@model UserCreateBoatDataViewModel

<div id="adminboatslip">
    @*    <h4>Skapa ny Hamn</h4>*@



    <div>
        <form class="createeditforms" asp-action="UserCreateBoatData" method="post" role="form">
            <fieldset id="fieldsetcreateharbour">
                <legend id="legendcreateharbour">Skapa ny BåtInfo:</legend>
                @Html.AntiForgeryToken()

                <br />

                <label asp-for="Label"></label>
                <br />
                <input asp-for="Label" />
                <br />
                <span id="redtext" asp-validation-for="Label"></span>
                <br />
                <br />
                <label asp-for="BrandModel"></label>
                <br />
                <input asp-for="BrandModel" />
                <br />
                <span id="redtext" asp-validation-for="BrandModel"></span>
                <br />
                <br />
                <label asp-for="Length"></label>
                <br />
                <input asp-for="Length" />
                <br />
                <span id="redtext" asp-validation-for="Length"></span>
                <br />
                <br />
                <label asp-for="Width"></label>
                <br />
                <input asp-for="Width" />
                <br />
                <span id="redtext" asp-validation-for="Width"></span>
                <br />
                <br />
                <label asp-for="Depth"></label>
                <br />
                <input asp-for="Depth" />
                <br />
                <span id="redtext" asp-validation-for="Depth"></span>
                <br />
                <br />
                <label asp-for="Weight"></label>
                <br />
                <input asp-for="Weight" />
                <br />
                <span id="redtext" asp-validation-for="Weight"></span>
                <br />
                <br />
                <label asp-for="Height"></label>
                <br />
                <input asp-for="Height" />
                <br />
                <span id="redtext" asp-validation-for="Height"></span>
                <br />
                <br />
                <div>
                    <label asp-for="HaveInsurance"></label>
                    <br />
                    <input asp-for="HaveInsurance" type="radio" value="yes" /> <b> Ja</b>
                    <br />
                    <input asp-for="HaveInsurance" type="radio" value="no" /> <b> Nej</b>
                </div>
                <br />
                <br />
                <input type="submit" class="btn btn-primary" name="btnFilter" value="Skapa" />
            </fieldset>
        </form>

    </div>






</div>

