@model EditUserViewModel

@if (Model.NoUserFound)
{
     <div>@Model.NoUserFoundMessage</div>
}
else
{
    <div>
        <h4>Editera Användarkonto-uppgifter</h4>

        <div class="row">
            <div class="col-md-8">
                <form class="adminforms" asp-controller="Identity" asp-action="EditUserSave_Partial" method="post" role="form">
                    @Html.AntiForgeryToken()


                    <input asp-for="Id" hidden />
                    <input asp-for="UserName" hidden />

                    <div class="row mb-3">
                        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                        @Model.UserName
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                        <input asp-for="FirstName" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                        <input asp-for="LastName" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Address" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                        <input asp-for="Address" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Postcode" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                        <input asp-for="Postcode" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="City" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                        <input asp-for="City" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                        <input asp-for="Email" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="PhoneNumber" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                        <input asp-for="PhoneNumber" class="form-control" />
                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExtraInfoTextarea"></label>
                        <textarea asp-for="ExtraInfoTextarea" class="form-control"></textarea>
                    </div>
                    <script>
                    // Replace the <textarea id="editor1"> with a CKEditor 4
                    // instance, using default configuration.
                    CKEDITOR.replace( 'ExtraInfoTextarea' );
                    </script>

@*                    <button id="update-profile-button" type="submit" class="btn btn-primary">Spara</button>
                    <input type="button" class="btn btn-secondary btnWidthSeparate"
                    name="btnBack" value="Tillbaka"
                    onClick="location.href='@Url.Action("ListAllUsers", "Identity")'" />*@
                </form>


            </div>
        </div>

    </div>
} @*Else EndTag*@

