
<div id="adminindex">
    <h4>Identity Startsida</h4>

    

@*    <div id="admincontent">
    <partial name="_Admincontent" /> 
    </div>*@
    <p>Välkommen Identity Index</p>

    
   



</div>
                
